body {
background-image: url("images/fondo.jpg");
}
h1 {
color: red;
}
h2 {
  color: white;
}
p {
  color: white;
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}
